<div id="container" style="padding-top: 40px;">
  <!-- Code generated at https://WeatherWidget.io -->
<a class="weatherwidget-io" href="https://forecast7.com/en/25d76n80d19/miami/?unit=us" data-label_1="Miami" data-label_2="Golf" data-theme="orange" ></a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://weatherwidget.io/js/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","weatherwidget-io-js");
</script>
</div>
<div class="background" style="margin-top: -20px; height: 700px;">


<!-- map google  -->
<div class="container">
  <div class="row backgorund">
    <div class="col-md-8 col-md-offset-2">

      <div class="row extra_styling_form">
        <div id="map" class="col-md-7">
          <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    viewMode: 'years'
                });
            });
          </script>
        </div>
        <div class="col-md-4 date_picker">
          <%= form_tag(root_path, method: "get") do %>
        <p class="form_select_date_fields" id="string_date"><%= label_tag(:q, "Select date") %></p>
        <p class="form_select_date_fields"><%= date_field_tag(:usersdate) %> </p>
        <p class="btn btn-primary book form_select_date_fields" id="search"><%= submit_tag("Search")%> </p>
          <% end %>
        </div>
      </div><!-- .row for map and form -->

    </div>
  </div>
</div>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">

          <h1 class="modal-title" id="exampleModalLabel">Purchase TeeTime</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_tag("/book", method: "post", id:"booking-form") do %>
            <%= label_tag(:q, "Name:     ") %>
            <%= text_field_tag(:name) %><br>
            <%= label_tag(:q, "Email:    ") %>
            <%= text_field_tag(:email) %><br>
            <%= label_tag(:q, "Telephone:") %>
            <%= text_field_tag(:telephone) %><br>

            <%= hidden_field_tag(:hidden_golfcourse_id) %>
            <%# submit_tag("Search") %>


        <div class="form-row">
   <label for="card-element">

   </label>
   <div id="card-element">
     <!-- a Stripe Element will be inserted here. -->
   </div>
        </div>
   <!-- Used to display form errors -->
   <div id="card-errors" role="alert"></div>
 </div>

 <button class="submitPayment btn btn-primary book">Submit Payment</button>


        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary reservation" >Proceed to Payment</button>
        </div> -->
          <% end %>
      </div>
    </div>
  </div>






<script type="text/javascript" >

  $('.btn.btn-primary.book').on('click', function(){
    var teetime = $(this).prev().children('option:selected').text().trim();
    $('#teetime').val(teetime)
    var courseId = $(this).attr('course-id');
    $('#hidden_golfcourse_id').val(courseId);

});
</script>
</div>
<div class="table_container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table table-hover" id="CourseInformationTable">
        <thead>
          <th class="table_header">Location</th>
          <th class="table_header">Tee Times</th>
          <th class="table_header"></th>
        </thead>
        <tbody>
          <% @request_tee_times["data"].each do |course| %>
            <tr>
              <td>
                <%= "#{course['courseName']}"%>
              </td>
              <td>
                <select class="btn btn-primary book">
                  <% course["teeTimes"].each do |tee| %>
                    <option class='optionsss'>
                      <%= "#{tee['teeTime']}"%>
                      <%= tee["purchase"]["price"]%> $

                    </option>
                  <%end%>
                </select>
              </td>
              <td>
                <button type="button" class="btn btn-primary book" data-toggle="modal" data-target="#exampleModal" course-id="<%=course['courseId']%>">Book
                </button>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
