
<div class="center jumbotron">
  <h1>MiamiGolf</h1>
  <%= link_to "Golf now","#", class: "btn btn-success btn-lg btn-xlarge" %>
  <div class="container responsive">
          <div class="row">
          <div class='col-sm-12'>
              <input type='text' class="form-control" id='datetimepicker4' />
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker4').datetimepicker();
              });
          </script>
      </div>
  </div>
      <script type="text/javascript">
          $(function () {
              $('#datetimepicker4').datetimepicker({
                  viewMode: 'years'
              });
          });
      </script>
  </div>
</div>





  <%= form_tag(root_path, method: "get") do %>
    <%= label_tag(:q, "Select Teetime Dates:") %>
    <%= date_field_tag(:usersdate) %> <!--- This users input should go as params[:usersdate] in the place of "Date=01%2F28%2F2018" in the url string--->
    <%= submit_tag("Search") %>
  <% end %>

  <br>
  <br>

  <% @request_tee_times["data"].each do |course| %> <br>
    <%= "CourseName #{course['courseName']}"%> <br>
  <select><% course["teeTimes"].each do |tee| %> <br>
    <option>  <%= tee["purchase"]["price"]%> <br>
      <%= "teeTime #{tee['teeTime']}"%> </option><br>
    <%end%></select>
  <%end%>
