<!-- WeatherApi -->
<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Farenheit</th>
    <th>Humidity</th>
    <th>Wind Speed</th>
  </tr>
  <% @request_weather_forecast.each do |forecast| %>
    <tr>
    <td><%= Time.at(forecast["dt"]) %></td>
    <td><%= forecast["weather"][0]["description"] %></td>
    <td><%= forecast["main"]["temp"] %></td>
    <td><%= forecast["main"]["humidity"] %></td>
    <td><%= forecast["wind"]["speed"] %></td>
    </tr>
  <% end %>
  </table>

<div class="center jumbotron">
  <h1>MiamiGolf</h1>
  <%= link_to "Golf now","#", class: "btn btn-success btn-lg btn-xlarge" %>
  <div class="container responsive">
          <div class="row">
          <div class='col-sm-12'>
              <input type='text' class="form-control" id='datetimepicker4' />
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker4').datetimepicker();
              });
          </script>
      </div>
  </div>
  <div id="map"></div>
      <script type="text/javascript">
          $(function () {
              $('#datetimepicker4').datetimepicker({
                  viewMode: 'years'
              });
          });
      </script>
  </div>
</div>
<!-- User Date Picker -->
  <%= form_tag(root_path, method: "get") do %>
    <%= label_tag(:q, "Select Teetime Dates:") %>
    <%= date_field_tag(:usersdate) %>
    <%= submit_tag("Search") %>
  <% end %>
  <br>
  <br>
  <!-- Tee Times, Prices, Dates - API -->
  <% @request_tee_times["data"].each do |course| %> <br>
    <%= "CourseName #{course['courseName']}"%> <br>
      <select>
        <% course["teeTimes"].each do |tee| %> <br>
          <option>
            <%= tee["purchase"]["price"]%> <br>
            <%= "teeTime #{tee['teeTime']}"%>
          </option>
          <br>
        <%end%>

      </select>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Book
      </button>
    <!-- <%# link_to 'Book', book_path(course_id: course['courseId'])%> -->
  <%end%>





  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_tag("/search", method: "get") do %>
            <%= label_tag(:q, "Name:") %>
            <%= text_field_tag(:q) %>
            <%= label_tag(:q, "Email:") %>
            <%= text_field_tag(:q) %>
            <%= label_tag(:q, "Telefon:") %>
            <%= text_field_tag(:q) %>
            <%# submit_tag("Search") %>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
          <% end %>
      </div>
    </div>
  </div>
