<h1>Booking Confirmation/<h1>

<h3><%=@name%> has reserved made the follwoing reservation at your golfcourse through XXXXXXXXX.com <%= @teetime%></h3>

<p>If you would like to contact <%=@name%>, please fin dcontact details below</p>
<p>Email:<%=@email%></p>
<p>Telephone:<%=@telephone%></p>

<p>Please observe that this reservation has bee fully paid to XXXXXXXXX.com, plase do not charge the golfer upon arrival to the course. You will recive payment at the end of the month with complete specifications of all tee times reserved through XXXXXXX.com during the previous month.</p>

<p>Happy golfing!</p>
<p>Kind regards</p>
<p>XXXXXX.com</p>
